################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Angular7/bin
/Angular7/obj
/Angular7/ClientApp/src/app/**/*.js
/Angular7/ClientApp/src/app/**/*.js.map
